* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    cursor:none;
}

h1::before{
    content: image("images/prismaticaEmblem.png");
}

h1 {
    font: bolder 4em Montserrat;
}

hr {
    width: 90%;
    color: transparent;
    background-clip: text;
    margin: auto;
}

body {
    min-height: 100vh;
    background: radial-gradient(#20073a, #511043);
    color: #f0d171;
    font: bolder 1em "Odin Rounded";
}

p {
    background-image: linear-gradient(#ff8c64, #fff7df);
    color: transparent;
    text-overflow: clip;
    background-clip: text;
}

.title{
    padding-left: 2.5%;
    padding-top: 0.625%;
}
.container{
    width: 87.5%;
    margin: auto;
}
.box1{
    background: radial-gradient(#1f0629, #390d33);
    border: .25em #ffe9a9 double;
    padding: 2.5%;
    height: 10em;
    transition: height .5s;
}

.box1:hover{
    height: 20em;
}

#cursor{
    position: absolute;
    width: 24px;
    height: 24px;
    border: 4px solid #f0d171;

    transform: rotate(0deg) scale(0);
    transition: transform .125s;

    pointer-events: none;
    animation: rainbow .5s linear infinite, spin 1s linear infinite;
}

body:hover #cursor{
    transform: rotate(360deg) scale(1);
}

@keyframes  spin {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}
@keyframes rainbow {
    0% {
        filter: drop-shadow(0 0 5px #ffe9a9) drop-shadow(0 0 15px #ffe9a9) drop-shadow(0 0 30px #ffe9a9) hue-rotate(0deg);
    }
    100% {
        filter: drop-shadow(0 0 5px #ffe9a9) drop-shadow(0 0 15px #ffe9a9) drop-shadow(0 0 30px #ffe9a9) hue-rotate(360deg);
    }
}