* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1::before{
    content: image("images/prismaticaEmblem.png");
}

h1 {
    font: bolder 4em Montserrat;
}

hr {
    width: 90%;
    color: transparent;
    background-clip: text;
    margin: auto;
}

body {
    min-height: 100vh;
    background: radial-gradient(#20073a, #511043);
    color: #f0d171;
    font: bolder 1em "Odin Rounded";
}

p {
    background-image: linear-gradient(#ff8c64, #fff7df);
    color: transparent;
    background-clip: text;
}

.title{
    padding-left: 2.5%;
    padding-top: 0.625%;
}
.container{
    width: 87.5%;
    margin: auto;
}
.box1{
    background: radial-gradient(#1f0629, #390d33);
    border: .25em #ffe9a9 double;
    padding: 2.5%;
}

#cursor{
    position: fixed;
    width: 25px;
    height: 25px;
    border: 5px solid #f0d171;

    transform: translate(-1px, 5px) rotate(0deg) scale(0);
    transition: transform .125s;

    pointer-events: none;
    animation: cursorAnim 2.5s linear infinite;
}

body:hover #cursor{
    transform: translate(-1px, 5px) rotate(405deg) scale(1);
}

@keyframes cursorAnim {
    0% {
        filter: drop-shadow(0 0 5px #ffe9a9) drop-shadow(0 0 15px #ffe9a9) drop-shadow(0 0 30px #ffe9a9) hue-rotate(0deg)
    }
    100% {
        filter: drop-shadow(0 0 5px #ffe9a9) drop-shadow(0 0 15px #ffe9a9) drop-shadow(0 0 30px #ffe9a9) hue-rotate(360deg)
    }
}